@{
    ViewData["Title"] = "Home Page";
    int sumPrices = ViewBag.sumPrices;
    DateTime startDate = ViewBag.startDate;
    DateTime endDate = ViewBag.endDate;
}

<div class="container mx-auto">

    <div class="row">
        <div class="col-6">
            <h1>Tổng Doanh Thu</h1>
            <form action="/ThongKe" class="mt-4 d-flex" method="get" id="formCreate">
                <input id="startDate" type="date" name="startDate" value="@startDate.ToString("yyyy-MM-dd")" />
                <input id="endDate" class="ms-4" name="endDate" type="date" value="@endDate.ToString("yyyy-MM-dd")" />
                <button type="submit" class="btn btn-primary ms-4" onclick="onSearch()">Tìm kiếm</button>
            </form>
            <div class="mt-4">
                <h3>@sumPrices.ToString("n0") đ</h3>
            </div>
        </div>
        <div class="col-6">
        </div>
    </div>
</div>
